@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full-height layouts work */
html,
body,
#root {
  height: 100%;
}

/* Optional global styles */
body {
  margin: 0;
}


.chat-link a {
  color: #3390ec;
  text-decoration: none;
  font-weight: 500;
}

.chat-link a:hover {
  text-decoration: underline;
}
